body{
    margin: 0;
    padding: 0;
    /* background-color: beige;
    background-image: url(https://www.komar.de/media/catalog/product/cache/6/image/9df78eab33525d08d6e5fb8d27136e95/import/api-v1.1-file-public-files-pim-assets-97-ad-84-62-6284ad972eff292d45ce1a2e-images-3c-4e-f4-65-65f44e3c713f0235a30b5fc3-8-4032-avengers-unite-interieur-i-web.jpg);
    background-size: cover;
    background-position:top left;
    background-repeat: no-repeat;
     */
     background:url(https://www.komar.de/media/catalog/product/cache/6/image/9df78eab33525d08d6e5fb8d27136e95/import/api-v1.1-file-public-files-pim-assets-97-ad-84-62-6284ad972eff292d45ce1a2e-images-3c-4e-f4-65-65f44e3c713f0235a30b5fc3-8-4032-avengers-unite-interieur-i-web.jpg) no-repeat top right #999;
     background-size:cover;
     color: thistle;
     font-weight: 700;
     font-size: 30px;
}
p{
    font-family: arial;
    font-size: 30px;
    color: tomato;
    font-weight: 700;
    font-style: italic;
    text-align: center;
    text-decoration:underline;
    text-transform: capitalize;
    text-shadow: 1px 1px 10px rgb(110, 106, 106);
   /* text-wrap: initial;
   text-overflow: ;
 */
 clear: both;
}
#para{

    color: wheat;
    display: inline-block;
    text-shadow: #999 2px 2px 4px;
}
img{
    float: left;
}